
<app-banner *ngIf="error">{{error}}</app-banner>

<div *ngIf="!error">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div [hidden]="loading">
    <div class="content">
      <div class="row" style="display: flex; align-items: center;">
        <app-date-picker
          [currentValue]="currentDate"
          [prevValue]="prevDate"
          [nextValue]="nextDate"
          (navigate)="gotoDate($event.delta, $event.value)">
        </app-date-picker>
        <app-range-picker></app-range-picker>
      </div>
      <app-chart-view></app-chart-view>
    </div>
  </div>
</div>

