
<app-banner *ngIf="error">{{error}}</app-banner>

  <div *ngIf="!error" class="content">
    <div class="row" style="display: flex; align-items: center; align-content: center;">
      <mat-spinner
        id="spinner-background"
        value=100 diameter="32"
        mode="determinate">
      </mat-spinner>
      <mat-spinner
        *ngIf="getLoadingFactor() < 100"
        [value]=getLoadingFactor()
        style="position: absolute;"
        diameter="32"
        mode="determinate">
      </mat-spinner>
      <app-date-picker
        [currentValue]="currentDate"
        [prevValue]="prevDate"
        [nextValue]="nextDate"
        (navigate)="gotoDate($event.delta, $event.value)">
      </app-date-picker>
      <app-range-picker
        (pickRange)="pickRange($event.value)">
      </app-range-picker>
    </div>

    <div class="overlay-container">
      <app-overlay color="#dada1580" [content]="inverterInfo"></app-overlay>
      <app-chart-view #inverterChart [colors]="inverterColors"></app-chart-view>
    </div>

    <div class="overlay-container">
      <app-overlay color="#ccc8" [content]="electricInfo"></app-overlay>
      <app-chart-view #electricChart [colors]="electricColors"></app-chart-view>
    </div>

    <app-chart-view #heatingChart [colors]="heatingColors"></app-chart-view>
  </div>

