
button {
  width: 86px
}

input {
  cursor: default;
  color:black;
  width: 110px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width:700px) {
  input { width: 180px; }
}

input::selection {
  color:black;
}
