.root {
  // Why does :host not work here?
  display: grid;

  > * {
    grid-area: container;
  }
}

.overlay {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
  z-index: 99999;
}

.content {
  color: black;
  font-size: small;
  user-select: none;
}
